body {
  margin: auto;
  max-width: 1280px;
  background-color: lightskyblue;

}
h1{
  font-family: Lobster, sans-serif;
  font-size: 100px;
  text-align: center;
}

.searchDiv{
  display: flex;
}

.listDiv{
  display: flex;
  justify-content: center;
  font-size: 25px;
}

button {
  background-color:white; /* Green */
  border: none;
  color: black;
  padding: 12px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}

input,
select {
  font-size: 30px;
  display: inline-block;
}

